
/*  */



.timeline_profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.post_image{
    width: 468px;
    height: 585px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    object-fit: contain;
    border: 5px solid #17171b;
}