@tailwind base;
@tailwind components;
@tailwind utilities;

/* install 'postcss language support' extension to remove the warning */

* {
    background-color: rgb(52, 52, 52);
    color: rgb(255, 255, 255);
    margin: 0;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}