@tailwind base;
@tailwind components;
@tailwind utilities;

/* install 'postcss language support' extension to remove the warning */

* {
    background-color: rgb(35, 88, 98);
    color: rgb(255, 255, 255);
    margin: 0;

    
}

/* body {
    
    background-image: url('https://pngtree.com/freebackground/japanese-poster-japan-tourism-japanese-zephyr_927763.html');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;

} */

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}